// resources/sass/app.scss

// Importar o arquivo de estilo do Bootstrap
@import '~bootstrap/scss/bootstrap';

// Personalizar estilos adicionais abaixo

// Exemplo de personalização: alterar a cor de fundo do corpo do aplicativo
body {
    background-color: #f8f9fa;
}

.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}
